.infoBorderCP{
  border: 3px solid snow;
  border-radius: 5%;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba($color: #ac7777, $alpha: 0.5);
}


.userInfoCP{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  color: #BFC0C0;
  padding: 3px;
}

.userInfoCP label {
  margin-bottom: 5px;
  font-size: 18px;
}
.userInfoCP input {
  margin: 5px auto 5px auto;
  
}