.event-form {
  background-color: #2D3142;
  bottom: 0vh;
  height: auto;
  padding-top: 8px;
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 999;
}

.event-form input {
  margin-bottom: 8px;
  width: 90%;
  border-radius: 5px;
}

.event-form textarea {
  margin-bottom: 8px;
  width: 90%;
  border-radius: 5px;
}