.curretnEventsHeader{
    text-align: center;
    font-size: 36px;
    color: #BFC0C0;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

 .event--li {
    list-style-type: none;
    text-align: center;
    margin: 20px 0px 10px opx ;
    display: block;
    color: #BFC0C0;
    padding-left: 0px;
    
}

.eventListTitle{
    list-style-type: none;
    font-style: none;
    text-transform: uppercase;
}

.event-cards {
    border: 3px solid snow;
    border-radius: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba($color: #ac7777, $alpha: 0.5);
    padding: 0px 10px 0px 10px;
}

.event-cards h2 {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .event-cards {
        width: 20%;
    }
}

