.curretnEventsHeader{
    text-align: center;
    font-size: 36px;
}

 .event--li {
    list-style-type: none;
    
    text-align: center;
    margin: 10px auto 10px auto ;
    display: block;
}

.eventListTitle{
    list-style-type: none;
    font-style: none;
    text-transform: uppercase;
}