.singleMapContainer{
  overflow:hidden;
  position: relative;
  height: calc(80vh - 75px);
  width: 100vw;
  z-index: 0;

}
.content_container{
  text-align: center;
  align-content: right;
  padding-top: 15px 
}
.finish{
  overflow: hidden;
}

.mapbox-improve-map, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-attrib{
  display: none;
}
