.singleMapContainer{
  overflow:hidden;
  position: relative;
  height: 60vh;
  width: 100vw;
  z-index: -1;
}
.content_container{
  text-align: center;
  align-content: right;
  padding-top: 15px 
}
.finish{
  overflow: hidden;
}

.mapbox-improve-map, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-attrib{
  display: none;
}
