.profilePageHeader{
  text-align: center;
  color: #BFC0C0;
  margin-top: 8px;
  margin-bottom: 8px;
 
}

.userByIdEmail{
  text-align: center;
  color: #BFC0C0;
  font-size: 20px;
}

.profilePicture {
  display: block;
  width: 15%;
  height: auto;
  border: 5px solid snow;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 600px) {
  .profilePicture {
    width: 32%; 
  }
}

.infoBorder{
  border: 3px solid snow;
  border-radius: 5%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba($color: #ac7777, $alpha: 0.5);
}

.userInfoPP{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  color: #BFC0C0;
  padding: 3px;
}

.upcomingEventsContainer{
  display: block;
  margin-left: 5%;
  color: #BFC0C0;
}

.upcomingEventsList{
list-style-type: none;

}

.upcomingEventsLink{
  text-decoration: none;
  color:#BFC0C0;
}

.editButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  // width: 50%;
}

